@supports (grid-area: auto){

.homeTeam {
    display : grid;
    grid-template-columns: 6em auto;
    grid-template-rows: 1fr 1fr
    }
.awayTeam {
    display : grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr
    }
}